.grid {
 display: grid;
 grid-template-columns: auto;
 grid-gap: 1rem;
 width: 100%;
 justify-content: center;
 align-items: center;
 overflow: hidden;
 overflow-x: hidden;
}

@media (min-width: $tablet) {
 .grid {
  grid-template-columns: auto auto;
 }
}

@media (min-width: $medium) {
 .grid {
  grid-template-columns: auto auto auto;
 }
}

@media (min-width: $large) {
 .grid {
  grid-template-columns: auto auto auto auto;
 }
}

@media (min-width: $x-large) {
 .grid {
  grid-template-columns: auto auto auto auto auto;
 }
}
