//Screen Sizes
$landscape: 500px;
$tablet: 750px;
$medium: 1024px;
$large: 1200px;
$x-large: 1500px;

$marvel-color: #ed1d24;

$main: #373a3c;

@import "./bootstrap.min.scss";

@import "../components/layout/navbar/navbar.scss";

@import "../components/layout/navbar/menuIcon/menuIcon.scss";

@import "../components/layout/navbar/searchbar/searchbar.scss";

@import "../components/layout/sidebar/sidebar.scss";

@import "../components/layout/sidebar/favorites/favorites.scss";

@import "../components/layout/footer/footer.scss";

@import "../components/comics/gallery/gallery.scss";

@import "../components/stories/story.scss";

@import "./grid";

@import "../components/layout/home/home.scss";


#main {
 padding: 54px 0 0 0;
//  background: lighten( $marvel-color, 15% );
}
